*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 40px;
   
}



#nav-part2{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

#nav-part2 h5 a{
    text-decoration: none;

}

#nav h1{
    font-size: 20px;
    display: flex;
    align-items: center;
}

#nav i{
    font-size: 18px;
    margin-right: 5px;
}

#nav-a{
    text-decoration: none;
    
}

#nav h5{
    font-size: 15px;
}

#nav img{
    height: 40px;
}

#line{
    width: 90px;
    height: 1.5px;
    background-color: rgb(175, 30, 30);
}




/*Cart items*/

.cart{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.cart i{
    color: #000;
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #000;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.sidebar{
    width: 30%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 950px;
    padding: 10px;
    text-align: center;
}

.head{
    background-color: #000;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #000;
}

































